.git
.DS_Store
**/node_modules
**/.env
*.log

# Keep frontend build only.
**/dist
!banhang/dist
!banhang/dist/**
banhang/src
banhang/public
banhang/index.html
banhang/vite.config.js
banhang/package.json
banhang/yarn.lock
